<div class="modal fade" id="movieModal-{{ movie.id }}" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ movie.title }}</h5>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body">
                {% include 'movie/card.html.twig' with {movie: movie, with_video: (videos is not empty), videos: videos, without_action: true, image_base_url: image_base_url} only %}
            </div>
        </div>
    </div>
</div>